.user-profile {
    margin-top: 0%;
}

.user-profile__courses {
    margin-top: 20px;
  }
  
  .user-profile__courses h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #eee;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  