.logout-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logout-message {
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.logout-icon {
  animation: spin 2s linear infinite;
}
.logout-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
